Задан DataFrame customer_df, содержащий столбцы:

    cust_id — идентификатор клиента;
    cust_age — возраст клиента (точкой отсчёта возраста считается 2021 год);
    cust_sale — персональная скидка клиента;
    cust_year_birth — год рождения клиента;
    cust_order — сумма заказа клиента.

In [33]:
import pandas as pd
customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })


def delete_columns(df, col=[]):
    for cc in col:
        if cc not in df.columns:
            return None
    return df.drop(col, axis=1)
print(delete_columns(col = ['cust_sale'], df = test_df_1))

NameError: name 'test_df_1' is not defined

Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (square) в квадратных километрах.

In [35]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
#display(countries_df)
countries_df['population_density'] = (countries_df['population']*1000000) / countries_df['square']
mean_population = countries_df['population_density'].mean()
display(mean_population)

84.93080566562001

Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

In [1]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

weekend_count = melb_df[melb_df['WeekdaySale'] == 5].shape[0] + melb_df[melb_df['WeekdaySale'] == 6].shape[0]
display(weekend_count)

12822



Вводные данные для выполнения заданий 3.4-3.5

Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

        "City" — город, где был замечен НЛО;
        "Colors Reported" — цвет объекта;
        "Shape Reported" — форма объекта;
        "State" — обозначение штата;
        "Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 

Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [53]:
import pandas as pd

ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
ufo_df = ufo_data.copy()

ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=True)
display(ufo_df)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-01-06 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-01-06 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,2000-12-31 23:00:00
18237,Spirit Lake,NaN,DISK,IA,2000-12-31 23:00:00
18238,Eagle River,NaN,NaN,WI,2000-12-31 23:45:00
18239,Eagle River,RED,LIGHT,WI,2000-12-31 23:45:00
18240,Ybor,NaN,OVAL,FL,2000-12-31 23:59:00

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

Подсказка (1 из 1): Чтобы выделить наиболее часто встречающийся год в таблице, необходимо сначала перевести столбец Time в формат datetime. После этого с помощью атрибута dt.year можно извлечь год наблюдения и найти его модальное значение.

In [61]:
import pandas as pd
ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
ufo_df = ufo_data.copy()
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=True)

ufo_df['Time'] = ufo_df['Time'].dt.year

ufo_df['Time'].value_counts(normalize=True)*100
ufo_df['Time'].mode()

0    1999
Name: Time, dtype: int64

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

Подсказка (1 из 1): Для удобства можно создать дополнительный столбец с датой Date, выделив атрибут datetime. После этого необходимо произвести фильтрацию и отобрать из данных только штат Невада. В отфильтрованных данных нужно вычислить разницу между двумя последовательными наблюдениями с помощью метода diff() и посчитать среднее количество дней между двумя наблюдениями.

In [8]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
df['Time'] = pd.to_datetime(df.Time)
df['Date'] = df['Time'].dt.date
print(df[df['State']=='NV']['Date'].diff().dt.days.mean())

68.92932862190813

Ранее, в задании 3.3, мы создали признак WeekdaySale в таблице melb_df — день недели продажи. Из полученных в задании результатов можно сделать вывод, что объекты недвижимости в Мельбурне продаются преимущественно по выходным (суббота и воскресенье).

Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец  Weekend в таблице melb_df с помощью неё.

Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [25]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
def get_weekend (weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else: 
        return 0
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
print(round(melb_df[melb_df['Weekend']==1]['Price'].mean(), 2))

1081198.64

Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.

Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [31]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
seller = melb_df['SellerG']

popular_seller = seller.value_counts().nlargest(49).index
melb_df['SellerG'] = seller.apply(lambda x: x if x in popular_seller else 'other')

min_price_nelson = round(melb_df[melb_df['SellerG']=='Nelson']['Price'].min(), 2)
min_price_other = round(melb_df[melb_df['SellerG']=='other']['Price'].min(), 2)

print(min_price_nelson / min_price_other)

1.297709923664122

Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.

Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции. Кроме того, учтите возможные вариации слов месяц (месяца, месяцев) и год (года, лет).

Примените вашу функцию к Series experience_col с помощью метода apply().

In [32]:
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)

Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.

Велосипед с каким идентификатором является самым популярным?

In [50]:
import pandas as pd
citi_bike = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bike_df = citi_bike.copy()
display(bike_df.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [51]:
import pandas as pd
citi_bike = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bike_df = citi_bike.copy()
bike_df['start station id'].value_counts(normalize=True) 
bike_df['bikeid'].value_counts(normalize=True)
bike_df['usertype'].value_counts(normalize=True)
print(bike_df['bikeid'].mode()[0])

33887

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [52]:
mode_usertype = bike_df['usertype'].mode()[0]
count_mode_user = bike_df[bike_df['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / bike_df.shape[0], 2))

0.77

Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу

In [53]:
print(bike_df['start station name'].nunique())
print(bike_df['end station id'].nunique())

759
765

В рассматриваемые дни минимальный возраст клиента составлял 10 лет

Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"

In [54]:
bike_df['start station name'].value_counts(normalize=True)

Grand Army Plaza & Central Park S    0.006430
Central Park S & 6 Ave               0.006367
Pershing Square North                0.006247
12 Ave & W 40 St                     0.006153
West St & Chambers St                0.006120
                                       ...
NYCBS Depot - GOW                    0.000050
Franklin Ave & Empire Blvd           0.000037
Railroad Ave & Kay Ave               0.000030
47 Ave & Skillman Ave                0.000023
Eastern Pkwy & Washington Ave        0.000020
Name: start station name, Length: 759, dtype: float64

 D Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

In [55]:
bike_df['end station name'].value_counts(normalize=True)

West St & Chambers St          0.006547
12 Ave & W 40 St               0.006367
Pershing Square North          0.006170
Central Park S & 6 Ave         0.006097
E 17 St & Broadway             0.006017
                                 ...
Exchange Place                 0.000010
Union St                       0.000003
Warren St                      0.000003
Montrose Ave & Bushwick Ave    0.000003
Liberty Light Rail             0.000003
Name: end station name, Length: 765, dtype: float64

В первую очередь удалим лишнюю информацию из данных.

В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [56]:
bike_df = bike_df.drop(['start station id', 'end station id' ], axis=1)
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [67]:
import pandas as pd
citi_bike = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bike_df = citi_bike.copy()
bike_df = bike_df.drop(['start station id', 'end station id' ], axis=1)
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'], dayfirst=True)
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'], dayfirst=True)
bike_df['Age'] = bike_df['starttime'].dt.year - bike_df['birth year']
bike_df = bike_df.drop(['birth year' ], axis=1)
bike_df[(bike_df['Age'] > 60)].shape[0]
#bike_df.head()

11837

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [72]:
bike_df['trip duration'] = (bike_df['stoptime'] - bike_df['starttime'])
bike_df.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [88]:
weekday = bike_df['starttime'].dt.dayofweek
bike_df['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
bike_df['weekend'].sum()

115135

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:

    поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
    поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
    поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
    поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [89]:
import pandas as pd
citi_bike = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bike_df = citi_bike.copy()
bike_df = bike_df.drop(['start station id', 'end station id' ], axis=1)
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'], dayfirst=True)
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'], dayfirst=True)
bike_df['Age'] = bike_df['starttime'].dt.year - bike_df['birth year']
bike_df = bike_df.drop(['birth year' ], axis=1)
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'

bike_df['time_of_day'] = bike_df['starttime'].dt.hour.apply(get_time_of_day)
a = bike_df[bike_df['time_of_day'] == 'day'].shape[0]
b = bike_df[bike_df['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9